<div class="grbox largecol right">
	<%= render 'layouts/contact' %>  
</div> 

 <div class="grbox smallcol left noborder">
	  <%= render 'layouts/pets' %>
 </div>

<div class="grbox smallcol left">
	<h1>Frequently Asked Questions</h1>
	<%= render 'layouts/faq' %> 
</div>	 

<div id="availability" class="grbox largehalfleft">
	  <%= render 'layouts/latestavailability' %>     
</div>

<div class="grbox largehalfright">
  <%= render 'layouts/mailinglist' %> 
</div> 















