<p><%= link_to "What linen is provided?", "#q1" %></p>
<p><%= link_to "What bedding is provided?", "#q2" %></p>
<p><%= link_to "What is included in the price?", "#q3" %></p>
<p><%= link_to "How many pets can I bring?", "#q12" %></p>	  
<p><%= link_to "How much do you charge for pets?", "#q21" %></p>
<p><%= link_to "Where is the parking?", "#q20" %> </p>
<p><%= link_to "What is the address?", "#q4" %></p>
<p><%= link_to "Is there a telephone?", "#qtel" %> </p>
<p><%= link_to "What if I have any problems with the bungalow during my stay?", "#q5" %> </p>
<p><%= link_to "How will I get the keys?", "#q6" %> </p>
<p><%= link_to "What are the check-in and check-out times?", "#q7" %> </p>
<p><%= link_to "Can I Smoke?", "#q8" %></p>
<p><%= link_to "Do I have to clean the property before I leave?", "#q9" %></p>
<p><%= link_to "My holiday is for two weeks can I have a mid-holiday clean? ", "#q10" %></p>
<p><%= link_to "When is the change-over day?", "#q11" %></p>
<p><%= link_to "Does the local pub allow dogs?", "#q22" %></p>
<p><%= link_to "What garden furniture is supplied?", "#q13" %></p>
<p><%= link_to "How far from the beach?", "#q14" %></p>
<p><%= link_to "What are the payment terms?", "#q15" %></p>
<p><%= link_to "When do I pay the balance?", "#q16" %></p>
<p><%= link_to "Is the bungalow heated?", "#q17" %></p>
<p><%= link_to "Is the bungalow double-glazed?", "#q18" %> </p>
<p><%= link_to "Is there a tumble dryer?", "#q19" %> </p>

<p><strong><a name="q21">How much do you charge for pets?</a></strong></p>
<p>We charge £10.00 per pet. Up to two pets are welcome.</p>


      <p><strong><a name="q1">What linen is provided?</a></strong></p>
      <p>Linen is not provided.</p>
      <p><strong><strong></strong><a name="q2">What bedding is provided?</a> </strong></p>
      <p>One duvet plus two pillows per person. We also supply a dog bed. </p>
      <p><strong><a name="q3">What is included in the price? </a></strong></p>
      <p>Gas and electric. Change-over clean.</p>
      <p><strong><a><a name="q20">Where is the parking? </a></a></strong></p>
      <p>The bungalow is set a fair way back from the road. There is actually a green in front and a pavement between the green and the bungalow's front garden. </p>
      <p>At the back of the bungalow there is a parking area and garages servicing about six bungalows. You can access the parking area via another road and park your car adjacent to the back of the garden fence, you then access the bungalow through the back gate, and up the garden path. </p>
      <p>We hardly ever use the front door unless we're going out on foot. </p>
      <p>As you can see, this arrangement makes it very safe for children because there is no road for them to easily run into and it is also very quiet. It is also very safe for your car because no one can see it from the road, not that it is an unsafe area by any means. </p>
      <p><strong><a name="q4">What is the address? </a></strong></p>
      <p>We send out the address plus full directions when we receive full payment. We ask for full payment eight weeks before your holiday.</p>
      <p><strong><a name="qtel">Is there a telephone?</a></strong></p>
      <p>There is a telephone for 999 calls only.  </p>
      <p><strong><a name="q5">What if I have any problems with the bungalow during my stay? </a></strong></p>
      <p>The information pack in the bungalow will provide all the information you need, including telephone numbers to call should there be a problem during your stay.</p>
      <p><strong><a name="q6">How will I get the keys? </a></strong></p>
      <p>You will receive details of how to get the keys eight weeks before your stay (when the balance is paid).</p>
      <p><strong><a name="q7">What are the check-in and check-out times? </a></strong></p>
      <p>The bungalow will be available from 4pm on your arrival day and you need to vacate by 10am </p>
      <p><strong><a name="q8">Can I Smoke?</a></strong></p>
      <p>Sorry, no.</p>
      <p><strong><a name="q9">Do I have to clean the property before I leave?</a></strong></p>
      <p>Please leave the bungalow in a clean and tidy state. The bungalow will be thoroughly cleaned by our caretaker after you leave.</p>
      <p><strong><a name="q10">My holiday is for two weeks can I have a mid-holiday clean? </a></strong></p>
      <p>Yes you can, this is provided at no extra charge.</p>
      <p><strong><a name="q11">When is the change-over day?</a></strong></p>
      <p>For weekly stays it is Saturday to Saturday. 


 Three night short breaks can start on a Friday or Saturday <br>
Four night short breaks can start on a Saturday , or Monday. If you require a different start-day (for a short-break only) during off-peak periods please <%= link_to "contact me", contact_path %>. </p>
      <p><strong><a name="q12">How many pets can I bring?</a></strong></p>
      <p>You can bring a maximum of two pets.</p>
      <p><strong><a name="q13">What garden furniture is supplied?</a></strong></p>
      <p>Four chairs and a table, umbrella, barbeque and utensils plus some deck chairs. There may be some barbeque charcoal. We leave a bag at the beginning of the season, when its gone its gone! </p>
      <p><strong><a name="q14">How far from the beach?</a></strong></p>
      <p>Ryde beach is a 5 minute drive or a 20 minute walk. </p>
      <p><strong><a name="q15">What are the payment terms?</a></strong></p>
      <p>A deposit of 20% to secure the booking. Full payment must be received at least eight weeks before your arrival date. For a last-minute booking full payment must be made at the time of booking. </p>
      <p>All monies received are non-refundable. </p>
      <p><strong><a name="q16">When do I pay the balance?</a></strong></p>
      <p>Eight weeks before your arrival date.</p>
      <p><strong><a name="q17">Is the bungalow heated?</a></strong></p>
      <p>Yes it has a combination boiler, giving you immediate hot water. </p>
      <p><strong><a name="q18">Is the bungalow double-glazed? </a></strong></p>
      <p>Yes</p>
      <p><strong><a name="q19">Is there a tumble dryer? </a></strong></p>
      <p>No, but we supply a washing line and an airer for drying indoors. </p>
      <p><strong><a name="q22" id="q22">Does the local pub allow dogs? </a></strong></p>
      <p>The nearest pub is the Fleming Arms in Binstead Road. It allows dogs, but only in certain areas.</p>
      <p><br>
      </p>
 
