<div class="grbox noborder">
    <p class="quote">"Excellent bungalow, everything has been thought of, even the weather has been excellent, our third visit and we have enjoyed it as much as   the first time." Roberts Party <%= link_to "read more ...", visitors_book_path %></p>
</div>

<div class="grbox smallcol left noborder">
  <%= render 'layouts/pets' %>
</div>



<div class="grbox largecol right">
	<%= render 'layouts/maininfo' %>		
</div>

<div class="grbox smallcol left noborder">
  <h1>Island Retreat</h1>
  <p><img src="/photos/P1010838.JPG" /></p>
</div>


 <div class="grbox smallcol left">
     <%= render 'layouts/latestavailability' %>     
 </div>

 <div class="grbox smallcol left">
     <%= render 'layouts/mailinglist' %>
 </div>





