	<h1>Local Information</h1>
	<p>
	The <%= link_to "Isle of Wight Council web site", "http://www.iwight.com/just_visiting/default.asp", :target => "_blank" %> provides useful information for visitors.
	</p>

	<p>Discover the Isle of Wight through the Tourists boards' official website</p>
	<p><%= link_to "www.islandbreaks.co.uk", "http://www.islandbreaks.co.uk", :target => "_blank" %></p>
	<p><%= link_to "Isle of Wight Walking Festival", "http://www.isleofwightwalkingfestival.co.uk", :target => "_blank" %>
	</p>
	<p>
	<%= link_to "Local Businesses and Suppliers in Isle Of Wight", "http://www.suppliersnearby.co.uk/area/Isle_of_wight.html", :target => "_blank" %>
	</p>
	<p> 
	<%= link_to image_tag("sunny_day.gif", :alt => "Island Retreat"), "http://www.bbc.co.uk/weather/5day.shtml?world=4207&links=b" %>

	View the <%= link_to "5 day Isle of Wight weather forecast", "http://www.bbc.co.uk/weather/5day.shtml?world=4207&links=b", :target => "_blank" %>
	</p>
	<p>For travelling to the Isle of Wight with your car or as a foot passenger Island Retreat recommends <%= link_to "Wightlink Ferries", "http://www.wightlink.co.uk", :target => "_blank" %>. Island Retreat is only a five minute drive from Fishbourne car ferry terminal.</p>

