
<ul>
  <li><%= link_to "Accommodation", accommodation_path %></li>
  <li><%= link_to "Location", location_path %></li>
  <li><%= link_to "FAQ", faq_path %></li>
  <li><%= link_to "Local Information", local_information_path %></li>
  <li><%= link_to "Visitor's Book", visitors_book_path %></li>
  <li><%= link_to "Rates", rates_path %></li>
  <li><%= link_to "Availability & Booking", availability_path %></li>
  <li><%= link_to "Contact Us", contact_path %></li>
</ul>


