<% if @title == "Accommodation" %>

  <p><%= lounge_text %></p> <%= lounge_image %>
  <p><%= kitchen_text %></p> <%= kitchen_image %>
  <p><%= double_text %></p> <%= double_image %>
  <p><%= twin_text %></p> <%= twin_image %>

<% end %>


<% if @title == "Home" or @title == "FAQ" or @title == "Visitor's Book" or @title == "Rates" or @title == "Contact" or @title == "About" %>

  <p><%= front_text %></p> <%= front_image %>
  <p><%= rear_garden_text %></p> <%= rear_garden_image %>

<% end %>


<% if @title == "Local Information" %>

  <p><%= needles_text %></p> <%= needles_image %>
  <p><%= godshill_text %></p> <%= godshill_image %>
  <p><%= freshwater_text %></p> <%= freshwater_image %>
  <p><%= ryde_text %></p> <%= ryde_image %>

<% end %>
