<!DOCTYPE html>
<html>
<meta name="description" content="Self-Catering holiday cottage in Isle of Wight - Two bedroomed bungalow, sleeps 4, pets welcome">
<meta name="keywords" content="isle of wight,cottage,island retreat,bungalow, sleeps 4, ryde, binstead, children, pets, 2 bed">
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17528032-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </head>

<body>

<div id="header">
<%= render 'layouts/header' %>
</div>

<div class="colmask threecol">
	<div class="colmid">
		<div class="colleft">

			<div class="col1">
				<h1><%= @header %></h1>
        <%= yield %>
				<!-- Column 1 end -->
			</div>

			<div class="col2">
				<!-- Column 2 start -->
		    <%= render 'layouts/menu' %>
		    <!-- Column 2 end -->
			</div>
			
      <div class="col3">
				<!-- Column 3 start -->
        <%= render 'layouts/picture' %>
				<!-- Column 3 end -->
			</div>
		</div>
	</div>
</div>
<div id="footer">
<%= render 'layouts/footer' %>
</div>

</body>
</html>
